{% extends 'base.html' %}

{% block content%}

<h3>About Me:</h3>
    <p>Hey! this is Rakesh from Geeky Web Wizards. created this free tool to scan air via API provided by AirNow to just play around with cool features of Python, Django & Bootstrap.
    I will also be uploading tutorials of how to create this web application on my YouTube channel as well: <a href="https://youtube.gwizacademy.com" target="_blank"> GWiz Academy</a>. Complete souce code is on GitHub feel free to playaround
    <a href="https://github.com/geekywebwizard/djangoweatherapp" target="_blank">View repository</a>. If you want to stay in touch do subscribe to our YouTube channel: <a href="https://youtube.gwizacademy.com" target="_blank"> GWiz Academy</a>
    </p>

Also Checkout:</br>
<a href="https://gwizacademy.com" target="_blank">GWiz Academy Official Website</a></br>
<a href="https://geekywebwizards.com" target="_blank">Geeky Web Wizards Official Website</a></br>
<a href="https://github.com/geekywebwizard" target="_blank">Git Hub link</a></br>
<a href="https://youtube.gwizacademy.com" target="_blank">YouTube Channel</a></br>

</br></br></br>

<a href=" {% url 'home' %}"><h3> << Go to Homepage</h3></a>



{% endblock%}